Repository COMP-SE-610-620-A2024/device-register, pull requests merged in 2024-11, with the labels that each got.

#195 Deployment script
  backend/controllers/attachements_controller.py
  backend/requirements.txt
  deployment_confs/deploy_devreg.py
  deployment_confs/devreg.conf
  deployment_confs/devreg.conf_TEMPLATE
Labels: Deployment

#190 Company added to event model, and updated create_event, update_event,…
  backend/controllers/device_controller.py
  backend/controllers/event_controller.py
  backend/models/event_model.py
  backend/static/swagger.yaml
  backend/tests/device_api_test.py
  backend/tests/event_api_test.py
Labels: back

#185 Implement GET list for attachments
  backend/api/attachments_api.py
  backend/controllers/attachments_controller.py
  backend/static/swagger.yaml
  backend/tests/attachments_api_test.py
  backend/tests/static/attachments/test_files/cat.jpg
Labels: back

#201 Fixes: Event grid change, local storage for move view, move view changes, more login authorization
  frontend/src/__tests__/event_grid_test.jsx
  frontend/src/__tests__/event_view_test.jsx
  frontend/src/components/device_info/device_info_grid.jsx
  frontend/src/components/device_register/device_register_grid.jsx
  frontend/src/components/event_view_components/event_grid.jsx
  frontend/src/components/shared/fetch_data.jsx
  frontend/src/views/admin_view.jsx
  frontend/src/views/device_info_view.jsx
  frontend/src/views/event_view.jsx
  frontend/src/views/move_view.jsx
Labels: front

#205 Housekeeping for events and users; Fix backups and postscript
  backend/.env.development
  backend/.env.test
  backend/app.py
  backend/tests/backup_test.py
  backend/tests/housekeeper_test.py
  backend/utils/backup.py
  backend/utils/config.py
  backend/utils/housekeeper.py
  deployment_confs/devreg.conf_TEMPLATE
  deployment_confs/post_data.py
Labels: bug, back, Deployment

#206 admin_view
  frontend/src/__tests__/admin_view_test.jsx
  frontend/src/__tests__/device_description_test.jsx
  frontend/src/__tests__/login_view_test.jsx
  frontend/src/views/admin_view.jsx
Labels: front

#210 Implemented add_view
  frontend/src/__tests__/add_view_test.jsx
  frontend/src/app.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/device_register_view.jsx
Labels: front

#222 Reposition houskeeper and backup
  backend/.env.development
  backend/app.py
  backend/models/event_model.py
  backend/models/user_model.py
  backend/tests/backup_test.py
  backend/tests/event_model_test.py
  backend/tests/housekeeper_test.py
  backend/utils/backup.py
  backend/utils/housekeeper.py
  wsgi.py
Labels: back, Deployment

#221 Removed location field from edit_view
  frontend/src/__tests__/edit_view_test.jsx
  frontend/src/views/edit_view.jsx
Labels: enhancement, front

#233 Confirmation Popup
  frontend/src/__tests__/confirmation_popup_test.jsx
  frontend/src/components/device_manager/confirmation_popup.jsx
  frontend/src/components/device_manager/device_manager_grid.jsx
Labels: front, feature

#236 Changed Device Manager Grid with better button placement
  frontend/src/__tests__/device_manager_grid_test.jsx
  frontend/src/__tests__/event_grid_test.jsx
  frontend/src/components/device_manager/confirmation_popup.jsx
  frontend/src/components/device_manager/device_manager_grid.jsx
  frontend/src/components/shared/grid_table.jsx
Labels: enhancement, front

#242 Sign out button
  frontend/src/__tests__/sign_out_button_test.jsx
  frontend/src/components/device_manager/device_manager_grid.jsx
  frontend/src/components/shared/sign_out_button.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/admin_view.jsx
  frontend/src/views/device_info_view.jsx
  frontend/src/views/device_manager_view.jsx
  frontend/src/views/device_register_view.jsx
  frontend/src/views/edit_view.jsx
  frontend/src/views/event_view.jsx
  frontend/src/views/login_view.jsx
  frontend/src/views/move_view.jsx
Labels: front, feature

#245 Nav Bar icon updated
  frontend/src/__tests__/navigation_bar_test.jsx
  frontend/src/components/shared/navigation_bar.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/admin_view.jsx
  frontend/src/views/device_info_view.jsx
  frontend/src/views/device_manager_view.jsx
  frontend/src/views/device_register_view.jsx
  frontend/src/views/edit_view.jsx
  frontend/src/views/event_view.jsx
  frontend/src/views/move_view.jsx
Labels: enhancement, front

#243 implemented attachment_box
  .gitignore
  frontend/src/__tests__/add_view_test.jsx
  frontend/src/components/device_info/attachment_box.jsx
  frontend/src/components/device_info/device_description.jsx
  frontend/src/components/device_register/device_register_grid.jsx
  frontend/src/components/shared/function_button.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/device_info_view.jsx
  frontend/src/views/edit_view.jsx
Labels: front
