Repository COMP-SE-610-620-A2024/device-register, pull requests merged in 2024-12, with the labels that each got.

#251 Class_view for adding and removing classes
  frontend/src/app.jsx
  frontend/src/views/admin_view.jsx
  frontend/src/views/class_view.jsx
Labels: front, feature

#253 Nav bar and Signout check local_storage instead of API
  frontend/src/__tests__/navigation_bar_test.jsx
  frontend/src/__tests__/sign_out_button_test.jsx
  frontend/src/components/shared/navigation_bar.jsx
  frontend/src/components/shared/sign_out_button.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/admin_view.jsx
  frontend/src/views/class_view.jsx
  frontend/src/views/device_info_view.jsx
  frontend/src/views/device_manager_view.jsx
  frontend/src/views/device_register_view.jsx
  frontend/src/views/edit_view.jsx
  frontend/src/views/event_view.jsx
  frontend/src/views/move_view.jsx
Labels: enhancement, front

#254 Added error alerts to adding, patching and deleting items.
  frontend/src/__tests__/delete_data_test.jsx
  frontend/src/__tests__/patch_data_test.jsx
  frontend/src/__tests__/post_data_test.jsx
  frontend/src/components/shared/delete_data.jsx
  frontend/src/components/shared/patch_data.jsx
  frontend/src/components/shared/post_data.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/class_view.jsx
  frontend/src/views/edit_view.jsx
  frontend/src/views/move_view.jsx
Labels: enhancement, front

#255 fixed class_view and increased test coverage
  frontend/src/__tests__/attachment_box_test.jsx
  frontend/src/__tests__/class_view_test.jsx
  frontend/src/__tests__/patch_data_test.jsx
  frontend/src/views/class_view.jsx
Labels: enhancement, front

#256 Added icon to attachment delete, style changes and some tests.
  frontend/src/__tests__/attachment_box_test.jsx
  frontend/src/components/device_info/attachment_box.jsx
  frontend/src/components/device_manager/device_manager_grid.jsx
Labels: enhancement, front

#257 Fixed date filtering in device info and events.
  frontend/src/__tests__/device_info_grid_test.jsx
  frontend/src/__tests__/event_grid_test.jsx
  frontend/src/components/device_info/device_info_grid.jsx
  frontend/src/components/event_view_components/event_grid.jsx
Labels: enhancement, front

#262 Added Grid utils, fixed Date filtering and sorting again.
  frontend/src/__tests__/grid_utils_test.jsx
  frontend/src/components/device_info/device_info_grid.jsx
  frontend/src/components/device_manager/device_manager_grid.jsx
  frontend/src/components/event_view_components/event_grid.jsx
  frontend/src/utils/grid_utils.jsx
Labels: front, feature

#263 Added unit tests to front
  frontend/src/__tests__/admin_view_test.jsx
  frontend/src/__tests__/app_test.jsx
  frontend/src/__tests__/class_view_test.jsx
  frontend/src/views/class_view.jsx
Labels: front, Testing

#264 implementing move_view_test and edit_view_test, commenting out form field checks for possible removal
  frontend/src/__tests__/edit_view_test.jsx
  frontend/src/__tests__/move_view_test.jsx
  frontend/src/components/shared/patch_data.jsx
  frontend/src/views/add_view.jsx
  frontend/src/views/class_view.jsx
  frontend/src/views/edit_view.jsx
  frontend/src/views/move_view.jsx
Labels: front, Testing
