Repository COMP-SE-610-620-A2024/device-register, pull requests merged in 2024-10, with the labels that each got.

#168 fixes for device_info view, local browser time shown
  frontend/src/__tests__/device_info_grid_test.jsx
  frontend/src/components/device_info/device_description.jsx
  frontend/src/components/device_info/device_info_grid.jsx
  frontend/src/components/shared/fetch_data.jsx
  frontend/src/views/device_info_view.jsx
Labels: front

#169 implemented move_view fixes
  frontend/src/views/move_view.jsx
Labels: front

#172 device register view fixes
  frontend/src/__tests__/device_register_grid_test.jsx
  frontend/src/__tests__/device_register_view_test.jsx
  frontend/src/components/device_register/device_register_grid.jsx
  frontend/src/components/shared/link_button.jsx
  frontend/src/views/device_register_view.jsx
Labels: front

#174 Feature/get all events device name
  backend/controllers/event_controller.py
  backend/models/event_model.py
  backend/static/swagger.yaml
  backend/tests/event_api_test.py
Labels: back

#171 Enhancement/event view
  frontend/src/__tests__/event_grid_test.jsx
  frontend/src/__tests__/event_view_test.jsx
  frontend/src/components/event_view_components/event_grid.jsx
  frontend/src/views/event_view.jsx
Labels: enhancement, front
